@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

body {
    font-family: "Playwrite DE Grund", cursive;
}


.header{
    display: flex;
    justify-content: space-between;
    height: 120px;
    border: 3px solid black;
}
.logo-container{
    display: flex;
    justify-content: flex-start;
    margin-top: 8px;
    padding: 2px;
    gap: 20px;
}

.logo{
    width: 80px;
    padding: 5px 3px;  
}

.logo-name{
   font-size: 34px;
}

.logo-name > span{
    font-size: 36px;
}

.nav-items{
    margin-right: 30px;
    margin-top: 10px;
    padding: 0px 8px;
}
.nav-items ul {
    display: flex;
    list-style-type: none;
    font-size: 26px;
    gap: 20px;
}

.nav-items ul li {
    padding: 10px 15px;
    
}

.btn-login{
    background-color: #E72929;
    cursor: pointer;
    padding: 1px 18px;
    font-size: 22px;
    color: white;
    border-radius: 5px;
    border: #E72929;
}

.btn-login:hover{
    background-color: #D83F31;
}

.filter-btn{
    margin: 15px;
    cursor: pointer;
}

.res-conatiner{
    margin-left: 120px;
    width: 80%;
    justify-content:space-around;
    display: flex;
    flex-wrap: wrap;
}
.res-card {
    margin: 8px;
    padding: 18px 15px;
    width: 270px;
    cursor: pointer;
   
    /* border: 1px solid #FFFF80;
   background-color : #FFFF80; */
   border-radius: 5px;
   transition: transform 0.5s ease-in-out;
}

.res-card:hover{
    /* background-color: #FAEF5D; */
    transform: scale(1.05);
}

.res-logo{
  width: 100%;
  border-radius: 10px;
  height: 270px;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    left: 300px;
    margin: 25px;
}
.shimmer-box{
    flex-wrap: wrap;
    padding: 10px 15px;
    margin-bottom: 20px;
    width: 270px;
    height: 330px;
    background-color: aliceblue;
    border-radius: 10px;
}

.error-container{
 
}

.error-img{
    width: 800px;
    height: 600px;
    margin-left : 600px;
    margin-top: 150px;
    border-radius: 20px;
}

.back-toHome{
    cursor: pointer;
    margin-left: 30px;
    padding: 8px 20px;
    font-size: 18px;
    border-radius: 7px;
    border: #E72929;
    color: white;
    background-color: #E72929;
}

.back-toHome :hover {
    background-color: #EE4E4E;
}